/*style shee */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f8ff; /* Light background color */
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
}

header {
  background-color: #004d99;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}

header h1 {
  font-size: 2.5em;
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.profile-img {
  width: 150px; /* Set width */
  height: 150px; /* Set height to make the image square cant firgure out how to fit image properly */
  object-fit: cover; 
  margin-right: 20px;
}

.bio {
  max-width: 600px;
}

.bio h2 {
  font-size: 1.8em;
  color: #004d99;
  margin-bottom: 10px;
}

.movies {
  margin-top: 40px;
}

.movies h2 {
  font-size: 2em;
  color: #004d99;
}

.movies ul {
  list-style-type: none;
  padding: 10px;
}

.movies li {
  font-size: 1.2em;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  margin-top: 40px;
  font-size: 1em;
  color: #888;
}

footer p {
  margin-top: 20px;
}
